<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>

    <div class="jumbotron">
      <h1>FAQ</h1>
      <p>Maybe something will be written.</p>
    </div>
    </div>


    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <%- include('../partials/faqbot'); %>
</body>

</html>