<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/botstyle.css" />
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">
  <div class="container" style="overflow:scroll; position:fixed; height: 90%;">
    <div class="messages"></div>
    <div id="edge"></div>
    <form class="actions">
      <input type="text" placeholder="Écrivez ici et appuyer sur Entrée pour envoyer">
    </form>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
  <script src="/js/faqbotscript.js"></script>
</body>

</html>