<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/botstyle.css" />
  <%- include('../partials/head'); %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body style="margin: 0 auto; text-align: center">
  <div>
    <p>Select a your language:</p>

    <div id="langdiv">
      <input type="radio" id="english" name="lang" value="eng" checked>
      <label for="english">English</label>
      <input type="radio" id="french" name="lang" value="fr">
      <label for="french">Français</label>
      <input type="radio" id="spanish" name="lang" value="spa">
      <label for="spanish">Español</label>
      <br>
      <button id="langbut" onclick="changeBrain()">Change language</button>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="panel panel-primary">
          <div class="panel-heading" id="accordion">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right">
              <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </div>
          </div>
          <div class="panel-collapse collapse" id="collapseOne">
            <div class="panel-body">
              <ul class="messages">
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <button class="btn btn-warning btn-sm" id="load" onclick="loadBrains()"> Load brains </button>
                <form>
                  <input id="inputChat" type="text" class="form-control input-sm"
                    placeholder="Écrivez ici et appuyer sur Entrée pour envoyer" autocomplete="off">
                  <input type="submit" class="btn btn-warning btn-sm" style="float: right;" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
  <script src="/js/faqbotscript.js"></script>

</body>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</html>