<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <body>
    <br>

    <h3>Créer un bot</h3>
    <input type="text" id="nomBot" placeholder="Steeve.."><button id="create">creer</button>
    <br>
    <br>
    <h3 style="font: size 10;">Mes bots</h3>
    <table id="table" style="margin-top:25px">
      <tr>
        <th>Prenom</th>
      </tr>
    </table>
    
    </body>
    </html>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>