<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <body>
    <br>
    <h3>Créer un bot</h3>
    <input type="text" placeholder="Steeve..">
    <br>
    <br>
    <h3 style="font: size 10;">Mes bots</h3>
    <table style="margin-top:25px">
      <tr>
        <th>Prenom</th>
      </tr>
      <tr>
        <td>Exemple</td>
        <td><button>Démarrer</button></td>
        <td><button>Supprimer</button></td>
        <td><button>Modifier</button></td>
      </tr>
    </table>
    
    </body>
    </html>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>