<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <main>     
        <div class="jumbotron">
            <h1>Se connecter</h1>
            <form action="login" method="POST">
                <label>Mail : </label>
                <input type="email" name="email" /> <br>
                <label>Password : </label>
                <input type="text" name="password" /> <br>
                <input type="submit" />
                <a href="/register">Créer un compte</a>
                <br>
                <br>
                <% if (locals.error) { %>
                <p style ="color :red"><%=error%></p>
                <%}%>

            </form>
        </div>
        <h1><%= //message%></h1>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>