<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/message.css" />
  <link rel="stylesheet" type="text/css" href="/css/dropdown.css" />
  <link rel="stylesheet" type="text/css" href="/css/chatbox.css" />
  <link rel="stylesheet" type="text/css" href="/css/test.css" />
</head>

<body style="margin: 0 auto; text-align: center">
  <div>
  </div>
  <!--START-->
  <div class="row">
    <div id="chatbox" class="chatbox chatbox22 chatbox--tray" style="border: 1px solid;">
      <!--Header-->
      <div class="chatbox__title">
        <h5 class="test" onclick="showBotDialogue()" id="chatboxtitle"><a href="javascript:void()"
            style="user-select: none;">FAQBot</a></h5>
        <!---->
        <div class="dropdown dropdown--scrollable">
          <button onclick="clickDropdown()" class="dropbtn">+</button>
          <div id="myDropdown" class="dropdown-content" style="right: 0; max-width: 298px;">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" style="max-width: 296px;">
            <a onclick="changeBrain('eng');clickDropdown()">English</a>
            <a onclick="changeBrain('spa');clickDropdown()">Español</a>
            <a onclick="changeBrain('fr');clickDropdown()">Français</a>
          </div>
        </div>
        <!---->
      </div>
      <!---->
      <!--TextBox-->
      <div class="chatbox__body">
        <ul class="messages"></ul>
      </div>
      <!--TextBox End-->
      <!--footer-->
      <div class="panel-footer">
        <div class="input-group">
          <form>
            <input type="submit" class="btn btn-warning btn-sm" style="float: right;" />
            <div style="overflow: hidden; padding-right: .5em;">
              <input id="inputChat" type="text" class="form-control input-sm" placeholder="Écrivez ici"
                autocomplete="off">
            </div>
          </form>
        </div>
      </div>
      <!---->
    </div>
  </div>
  <!--END-->
</body>
<!--Get Rivescript-->
<script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
<!--Get JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--Load own scripts-->
<script src="/js/testbot.js"></script>
<script src="/js/faqbotscript.js"></script>
<script src="/js/dropdown.js"></script>

</html>