<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Administration</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/disconnect">deconnexion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/faq">FAQ</a>
    </li>
  </ul>
</nav>