<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>

        <div class="jumbotron">
          <h1>About this project</h1>
          <p>This chatbot was created by Alex Fulbert and Marc Vacquant as a project for the Web Services course.</p>
        </div>
      </div>


    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <%- include('../partials/faqbot'); %>
</body>

</html>